<div id="page" class="hfeed site">
  <header id="masthead" class="site-header" role="banner">
    <div class="container">
      <div id="logo" class="site-logo text-center">
        <a href="/" rel="home">
          <!--
          <img src="/assets/logo.png" alt="NowKnow | Knowledge Base HTML Template" />
          -->
          Logo Here
        </a>
      </div>
      <div id="navbar" class="navbar-wrapper text-center">
        <nav class="navbar navbar-default site-navigation" role="navigation">
          <ul class="nav navbar-nav navbar-menu">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="faq.html">Client</a></li>
            <li><a href="faq.html">API</a></li>
          </ul>
        </nav>
      </div>
      <div id="header-search" class="site-search clearfix">
        <form method="get" class="search-form" role="search" id="search_form">
          <div class="form-border">
            <div class="form-inline">
              <div class="form-group">
                <input type="text" name="search" value="<%= @search.nil? ? '' : @search %>"
                       class="search-field form-control input-lg" title="Enter search term" placeholder="Remove directory recursively"/>
                <input type="hidden" name="user_id" value="<%= current_user.try(:id) %>" />
              </div>
              <input type="button" class="search-submit btn btn-custom btn-lg pull-right" value="Search" />
            </div>
            <a href="#" class="search-advance-button text-center"><i class="fa fa-chevron-circle-up fa-2x"></i></a>
          </div>
        </form>
      </div>
    </div>
  </header>
</div>