<% @searches.each do |search| %>
    <li>
      <i class="fa-li fa fa-list-alt fa-fw text-muted"></i>

      <h3 class="h5"><a href="#"><%= search.content %></a></h3>
      <small class="meta text-muted">
        <span class="time"><i class="fa fa-clock-o fa-fw"></i><%= time_ago_in_words(search.created_at) %> ago</span>
      </small>
    </li>
<% end %>