<% title 'Search Page' %>
<% description 'Find a suitable example for the command line tool you need' %>
<% keywords 'Linux command search' %>
<div id="features" class="site-hero clearfix">
  <div class="container">
    <div class="features row">
      <div class="col-sm-6">
        <div class="banner-wrapper text-center">
         <span class="fa-stack fa-3x">
           <i class="fa fa-search-plus fa-stack-1x"></i>
          </span>
          <h4 class="banner-title h3">Forgot a command ?</h4>

          <div class="banner-content">
            <p>Find a suitable example for the command line tool you need</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 ">
        <div class="banner-wrapper text-center">
         <span class="fa-stack fa-3x">
          <i class="fa fa-linux fa-stack-1x"></i>
         </span>
          <h4 class="banner-title h3">Help the linux community</h4>

          <div class="banner-content">
            <button class="btn btn-primary btn-custom" id="create_an_example_button" name="create_an_example_button" >Create examples that will help others</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="main" class="site-main clearfix">
  <div class="container">
    <div class="content-area">
      <div class="row">
        <div id="content" class="site-content col-md-12">
          <div class="row">
            <div class="col-md-6">
              <section id="section-latest-searches" class="section">
                <h2 class="section-title h4 clearfix">Latest Searches</h2>
                <ul class="fa-ul">
                  <% if @searches.any? %>
                      <%= render partial: 'searches', locals: { searches: @searches } %>
                  <% end %>
                </ul>
              </section>
            </div>
            <div class="col-md-6">
              <section id="section-latest-examples" class="section">
                <h2 class="section-title h4 clearfix">Latest Examples</h2>
                <ul class="fa-ul">
                  <% if @commands.any? %>
                      <%= render partial: 'simple_command', locals: { commands: @commands } %>
                  <% end %>
                </ul>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="site-info col-md-6">
        <p class="text-muted">Copyright &copy; 2013 <a href="#">Linuxwiki</a>. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
</div>

<div class="modal fade" id="create_an_example">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <p>Log in using one of the services listed below:</p>
        <ul class="list-inline hidden-print">
          <li><a href="/auth/facebook" class="btn btn-social btn-facebook"><i class="fa fa-facebook fa-fw" rel="tooltip" title="Facebook"></i></a></li>
          <li><a href="/auth/twitter" class="btn btn-social btn-twitter"><i class="fa fa-twitter fa-fw" rel="tooltip" title="Twitter"></i></a></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>