<% title 'New Example' %>
<% description 'Create an example that will help other users' %>
<% keywords 'Linux example create share' %>

<div id="features" class="site-hero clearfix">
  <div class="container form-container">
    <%= render partial: 'commands/form', locals: { model: @command } %>
  </div>
</div>