<% title @search %>
<% description @commands.any? ? @commands[0..2].map(&:explanation).join(' ') : '' %>
<% keywords @search %>

<div id="features" class="site-hero clearfix">
  <div class="container">
    <% if @commands.any? %>
        <div class="examples-wrapper">
            <%= render partial: 'commands', locals: { commands: @commands } %>
        </div>
        <%= link_to 'Load More Examples', command_pagination(@search,@commands.next_page), :class => 'load-more-commands', :remote => true if @commands.next_page  %>
    <% else %>
        <div class="row">
          <div class="banner-wrapper example-wrapper">
            <p>No results were found for "<%= @search %>"</p>
          </div>
        </div>
    <% end %>
  </div>
</div>