<div id="features" class="site-hero clearfix">
  <div class="container">
    <div class="row">
      <div class="banner-wrapper example-wrapper">
          <blockquote>
            <p><code>This is my very long code, let me know what you think about it</code></p>
            <p>Here goes my explanation about this code, it can also be very big, lets see what happens when it is insanely big.</p>
            <cite class="pull-right"><a href="#"> Pedro Sena</a></cite>
          </blockquote>
      </div>
    </div>
    <div class="row">
      <div class="banner-wrapper example-wrapper">
        <blockquote>
          <p><code>This is my very long code, let me know what you think about it</code></p>
          <p>Here goes my explanation about this code</p>
          <cite class="pull-right"><a href="#"> Pedro Sena</a></cite>
        </blockquote>
      </div>
    </div>
    <div class="row">
      <div class="banner-wrapper example-wrapper">
        <blockquote>
          <p><code>This is my very long code, let me know what you think about it</code></p>
          <p>Here goes my explanation about this code</p>
          <cite class="pull-right"><a href="#"> Pedro Sena</a></cite>
        </blockquote>
      </div>
    </div>
  </div>
</div>