<div id="features" class="site-hero clearfix">
  <div class="container">
    <% @commands.each do |command| %>
    <div class="row">
      <div class="banner-wrapper example-wrapper">
          <blockquote>
            <p><code><%= command.example %></code></p>
            <p><%= command.description %></p>
            <cite class="pull-right"><a href="#"><%= command.author %></a></cite>
          </blockquote>
      </div>
    </div>
    <% end %>
    <%= will_paginate @commands %>
  </div>
</div>